@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to left, #BFA688,#BFA688 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 25px #593C22;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #593c22c7;
    text-align: center;
    text-shadow: 1px 2px 1px #B4CED9;
}

h2{
    color: #8C6F4A;
}

p{
    text-align: justify;
}