@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    font-family: "lato-light-italic", Arial, Helvetica, sans-serif;
}

h2{
    font-family: "Audiowide", Arial, Helvetica, sans-serif;
}