body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

h1, h2{
    font-family: 'Work Sans' Arial, Helvetica, sans-serif;
    font-size: 2em;
}